img {
    height: 400px;
    padding: 20px;

}
a{
    font-size: 50px;
   
}
#teste{
    height: 300px;
}
h1{
    font-size: 70px;
    font-family: 'Castoro Titling', cursive;
}
p{
    font-size: 30px;
    font-family: 'Ysabeau', sans-serif;
}