* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
background-image: url(pag_01_fundo.jpg);

}

h1 {
  color: white;
}

h2 {
  color: white;
}

p {
  color: white;
  font-size: 2em;
}

